h1{
    background-color:#f62459;
    text-align: center;
}
h2{
background-color: #00e640
}
h3{
    background-color:#9a12b3;
    color : white;
    text-align: center;

}
h4{
    color: red;
}

.head{
    background-color:#19b5fe;
    display : flex;
justify-content: space-evenly;
}
.footer{
    display : flex;
    justify-content:flex-end;
}

.huy{
    border : solid
}

a:link{
    color : red
}
a:visited{
    color:red
}

.huy{
    margin-right:30pxs
}

.huy a{
    margin-left: 260px;
}

.item{
    position: relative;
}

.item:hover{
opacity: 0.353;
}

.pop:hover{
    opacity:0.232
}
